/* Navbar */

nav {
  background-color: black;
  color: white;
}

nav > ul {
  display: flex;
  list-style: none;
  height: 3.5vw;
  justify-content: flex-end;
  align-items: center;
}

nav > ul > li {
  margin: 0 1em;
  cursor: pointer;
  font-size: 1.5vw;
}

nav > ul > li:first-child {
  justify-self: flex-start;
  flex: 1;
}

/* Login and SignUp Form */
.login-signup-form {
  width: 30%;
  margin: 4vw auto;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.login-signup-form * {
  width: 100%;
}

.login-signup-form > h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2.5vw;
}

.login-signup-form > label {
  font-size: 2vw;
}

.login-signup-form > label > input {
  font-size: 2vw;
  margin-bottom: .25em;
}

.login-signup-form > button {
  font-size: 2vw;
  margin-top: 1em;
}

/* User List */
table{
  width: 80%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
  margin: 2em auto;
}

td, th{
  border-top: 1px solid #ECF0F1;
  padding: 10px;
}

th {
  background-color: #4ECDC4;
}

td{
  border-left: 1px solid #ECF0F1;
  border-right: 1px solid #ECF0F1;
}

tr:nth-of-type(even) td{
  background-color: lighten(#4ECDC4, 35%);
}